*{
    margin: 0;
}
header{
    background-color: rgb(57, 59, 59);
    padding: 10px;
    color:white;
    text-align: center;
}
main{
    padding: 30px;
}

.cartao{
    background-color: aquamarine;
    border: 2px solid black;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
}
.titulo{
    padding: 5px;
    border: 2px;
}

.linhaDeDados{
    display: grid;
    margin-bottom: 10px;
}

input{
    padding: 5px;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
}

button{
    border: 0;
    padding: 5px;
    outline: 0;
    background-color: aqua;
    color: rgb(162, 97, 179);
    border-radius: 2px;
    font-weight: bold;   
}
button:hover{
    background-color: rgb(34, 34, 54);
}

.conteudo{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}
table th{
    background-color: rgb(57, 59, 59);
    padding: 10px;
    color: aliceblue;
    text-align: center;

}
.center{
    text-align: center;
}